#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<form role="form" class="form-inline" action="$!{basePath}/jeecg/lhExam.do?list" method="post"  id="formSubmit">
				<div  class="col-md-10" style="width:100%">
					<div class="panel panel-default">
						<div class="panel-heading">列表</div>
						<div class="panel-body">
							<div class="search">
								<!--
										 <div class="form-group col-sm-3">
											<label for="examName" class="control-label col-sm-3 line34">考试名称</label>
											<div class="col-sm-8">
												<input type="text" name="examName" id="examName" value="$!{lhExam.examName}" class="form-control">
											</div>
										 </div>
										 <div class="form-group col-sm-3">
											<label for="questionId" class="control-label col-sm-3 line34">试题编号</label>
											<div class="col-sm-8">
												<input type="text" name="questionId" id="questionId" value="$!{lhExam.questionId}" class="form-control">
											</div>
										 </div>
										 <div class="form-group col-sm-3">
											<label for="score" class="control-label col-sm-3 line34">分数</label>
											<div class="col-sm-8">
												<input type="text" name="score" id="score" value="$!{lhExam.score}" class="form-control">
											</div>
										 </div>
										 <div class="form-group col-sm-3">
											<label for="questionNumber" class="control-label col-sm-3 line34">题目个数</label>
											<div class="col-sm-8">
												<input type="text" name="questionNumber" id="questionNumber" value="$!{lhExam.questionNumber}" class="form-control">
											</div>
											</div> -->
										 <div class="form-group col-sm-3">
											<label for="examType" class="control-label col-sm-3 line34">考试类型</label>
											<div class="col-sm-8">
												<input type="text" name="examType" id="examType" value="$!{lhExam.examType}" class="form-control">
											</div>
										 </div>
								<!--
										 <div class="form-group col-sm-3">
											<label for="answerTime" class="control-label col-sm-3 line34">答题时间</label>
											<div class="col-sm-8">
												<input type="text" name="answerTime" id="answerTime" value="$!{lhExam.answerTime}" class="form-control">
											</div>
										 </div>
										 <div class="form-group col-sm-3">
											<label for="number" class="control-label col-sm-3 line34">考试次数</label>
											<div class="col-sm-8">
												<input type="text" name="number" id="number" value="$!{lhExam.number}" class="form-control">
											</div>
										 </div>
										 <div class="form-group col-sm-3">
											<label for="createBy" class="control-label col-sm-3 line34">创建人id</label>
											<div class="col-sm-8">
												<input type="text" name="createBy" id="createBy" value="$!{lhExam.createBy}" class="form-control">
											</div>
										 </div>
										<div class="form-group col-sm-3">
											<label for="createDate" class="control-label col-sm-3 line34">创建日期</label>
											<div class="col-sm-8">
												<input type="text" name="createDate" id="createDate" value="$!dateTool.format('yyyy-MM-dd',$!{lhExam.createDate})" class="form-control">
											</div>
										 </div>
										 <div class="form-group col-sm-3">
											<label for="remark" class="control-label col-sm-3 line34">备注</label>
											<div class="col-sm-8">
												<input type="text" name="remark" id="remark" value="$!{lhExam.remark}" class="form-control">
											</div>
										 </div>
										 <div class="form-group col-sm-3">
											<label for="rightAnswer" class="control-label col-sm-3 line34">正确答案</label>
											<div class="col-sm-8">
												<input type="text" name="rightAnswer" id="rightAnswer" value="$!{lhExam.rightAnswer}" class="form-control">
											</div>
										 </div>		-->
								<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 搜  索</button>
								<button type="button" class="btn btn-primary" onclick="searchReset()"><i class="fa fa-refresh"></i> 重  置</button>
								<div class="clearfix"></div>
							</div>
							<div id="legend">
								<legend  class="le">
									<button type="button" class="btn btn-primary" onclick="doUrl('$!{basePath}/jeecg/lhExam.do?toAdd')" ><i class="fa fa-plus"></i> 新增</button> 
									<button type="button" class="btn btn-primary" onclick="batchDelete()" ><i class="fa fa-trash-o"></i> 批量删除</button>
								</legend>
							</div>
							<table class="table table-striped">
								<thead>
									<th>
											<input type="checkbox" name="ckAll" id="ckAll" />
					        		</th>
											<th>考试名称</th>
											<th>考题分类</th>	
											<th>分数</th>
											<th>题目个数</th>
									<!--		<th>考试类型</th>	-->
											<th>答题时间</th>
											<th>考试分派</th>
									<!--		<th>备注</th>
											<th>正确答案</th>	-->
									<th>操作</th>
								</thead>
								<tbody>
								#if($!{pageInfos})
									#foreach($!{info} in $!{pageInfos})
										<tr>	
											<td>
													<input type="checkbox" name="ck" id="ck_$!{velocityCount}" value="$!{info.id}"/>
											</td>	
														<td>$!{info.examName}</td>
														<td>
														<!--	$!{info.questionColumn}	-->
														 #foreach($column in $columnList)
															#if($!{info.questionColumn} == ${column.id})
																$!{column.columnName}
															#end
														 #end
														</td>
														<td>$!{info.score}</td>
														<td>$!{info.questionNumber}</td>
											<!--			<td>$!{info.examType}</td>	-->
														<td>$!{info.answerTime}</td>
														<td>
															
														 #foreach($user in $lhSUserList)
															#if($!{info.assign} == ${user.id})
																$!{user.username}
															#end
														 #end
														</td>
											<!--			<td>$!{info.remark}</td>
														<td>$!{info.rightAnswer}</td>	-->
											<td class="last">
											<a class="btn btn-primary btn-xs"  href="javascript:doUrl('$!{basePath}/jeecg/lhExamQuestion.do?list&examId=$!{info.id}')" ><i class="fa fa-edit"></i> 考试题目</a>
											<a class="btn btn-success btn-xs"  href="javascript:doUrl('$!{basePath}/jeecg/lhExam.do?toEdit&id=$!{info.id}')" ><i class="fa fa-edit"></i> 编辑</a>
											<a class="btn btn-danger btn-xs" href="javascript:delData('$!{basePath}/jeecg/lhExam.do?doDelete&id=$!{info.id}')"><i class="fa fa-trash-o"></i> 删除</a>

											</td>
										</tr>
									 #end
								 #end
								</tbody>
							</table>
							<div class="text-right">
								<!--公用翻页代码-->
								#set($attr='formSubmit')
								#showPageList($pageInfos $attr)
								<!--END公用翻页代码-->
							</div>
						</div>
					</div>
				</div>  
			</form>
		</div>
	</div>
</body>
</html>
<script>
$("#ckAll").click(function(){ 
	if($(this).prop("checked")){ 
	 $(":checkbox").prop("checked",true) 
	}else{ 
	$(":checkbox").prop("checked",false)  
	} 
}); 

//jquery获取复选框值    
function getCkValue(){  
  var chk_value =[];    
  $('input[name="ck"]:checked').each(function(){    
   chk_value.push($(this).val());    
  });    
  //alert(chk_value.length==0 ?'你还没有选择任何内容！':chk_value);    
}
//获得所有选中行的ID进行批量删除
function batchDelete() {
    var ids = [];
    var check = document.getElementsByName("ck");
    for(var i=0;i<check.length;i++){
        if(check[i].checked){
    		ids.push(check[i].value);
        }
    }
   	if(ids.length > 0) {
    	parent.layer.confirm('确认进行批量删除吗？', {
        	btn: ['确定','取消'] //按钮
    	}, function(){
       		jQuery.ajax({
       			url : '$!{basePath}/jeecg/lhExam.do?batchDelete',
       			data : {
       				ids : ids,
       			},
       			type : 'POST',
    			dataType: 'json',
       			traditional:true,
    			success:function(data) {
    				if(data.success){
    					parent.layer.alert(data.msg, {
    	        	        icon: 1,
    	        	        shadeClose: false,
    	        	        title: '提示'
    	        	    },function(index){
    						document.getElementById('formSubmit').submit();
    	        	    	parent.layer.close(index);
    					});
    				}else {
    					layeralert(data.msg,0);
    				}
    			},
    			error: function(data, status, e){  
    	        	if(data.status == "401"){
    	        		layeralert("没有权限！",0);
    					return;
    				}
    	        }
       		});
		});
   	}else {
		layeralert("您还没有选择要删除的行");
   	}
}
//重置按钮    
function searchReset() {
	$("#formSubmit").find(":input").val("");
	$("#formSubmit").submit();
}
</script>