<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">详情</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form">
						<fieldset disabled>
																		<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">作业名称</label>
												<div class="col-sm-2">
													<input type="text" value="$!{lhTask.taskName}" name="taskName" id="taskName" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">简介</label>
												<div class="col-sm-2">
													<input type="text" value="$!{lhTask.summary}" name="summary" id="summary" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;"> 考试类型</label>
												<div class="col-sm-2">
													<input type="text" value="$!{lhTask.examType}" name="examType" id="examType" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">考试</label>
												<div class="col-sm-2">
													<input type="text" value="$!{lhTask.examId}" name="examId" id="examId" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">类型</label>
												<div class="col-sm-2">
													<input type="text" value="$!{lhTask.type}" name="type" id="type" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">创建人id</label>
												<div class="col-sm-2">
													<input type="text" value="$!{lhTask.createBy}" name="createBy" id="createBy" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">创建日期</label>
												<div class="col-sm-2">
													<input type="text" value="$!dateTool.format("yyyy-MM-dd",$!{lhTask.createDate})" name="createDate" id="createDate" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">作业分派</label>
												<div class="col-sm-2">
													<input type="text" value="$!{lhTask.assign}" name="assign" id="assign" class="form-control" />
												</div>
											</div>
											<div class="form-group mno">
												<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">作业日期</label>
												<div class="col-sm-2">
													<input type="text" value="$!dateTool.format("yyyy-MM-dd",$!{lhTask.assignDate})" name="assignDate" id="assignDate" class="form-control" />
												</div>
											</div>
						</fieldset>
						<div class="form-group mno">
							<div class="col-sm-offset-1 col-sm-6">
								<button type="button" class="btn btn-default" id="formReturn" data-dismiss="modal" onclick="doUrl('$!{basePath}/jeecg/lhTask.do?list')"><i class="fa fa-arrow-circle-left"></i> 返回</button>
							 </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>